.busimg {
  background-image: url('../components/images/Buses.jpg');
  background-size: cover;
  background-position: center;
  padding: 80px;
}
.buton-primary {
  text-decoration: none; 
  background-color: #007bff;
  color: #fff; 
  border: none; 
  padding: 8px 16px; 
  border-radius: 4px; 
  transition: background-color 0.3s ease-in-out; 
}

.buton-primary:hover {
  background-color: #40E0D0;
}


.label-from{
  margin: 0 auto;
}
.btn {
  width: 50%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: whitesmoke;
}
.my-cell {
  border: 1px solid black;
  background-color: #019992;
  color: black;
  padding: 15px;
  margin: 20px;
  border-radius: 20px;
}
.hello{
  margin-bottom: 50px;
}
.trans{
  color: white;
}
 
