.App video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.video {
    height: 60vh;
    width: 100%;
    object-fit: cover;
    margin-top: -5px;
}