.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form label {
  margin-bottom: 10px;
}

.login-form input {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid gray;
}

.login-form button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-form button:hover {
  background-color: darkblue;
}
