.form-group label{
  color: #888;
}

.btn:hover{
    background-color:turquoise;
}
.contact-section {
    background-color: #fff; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: fadeIn 1s ease-in-out;
    padding-top: 50px;
} 

  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  