.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.discover {
  width: 100%;
  height: 812px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.rectangle3 {
  top: -570px;
  left: 0px;
  width: 375px;
  height: 2267px;
  position: absolute;
}
.text {
  top: -422px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.text2 {
  top: 52px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 13px;
  font-style: Black;
  text-align: left;
  font-family: Roboto;
  font-weight: 900;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.rectangle2 {
  top: 91px;
  left: 16px;
  width: 167px;
  height: 220px;
  position: absolute;
}
.rectangle21 {
  top: 411px;
  left: 192px;
  width: 167px;
  height: 310px;
  position: absolute;
}
.rectangle22 {
  top: 321px;
  left: 16px;
  width: 167px;
  height: 310px;
  position: absolute;
}
.rectangle23 {
  top: 91px;
  left: 192px;
  width: 167px;
  height: 310px;
  position: absolute;
}
.rectangle24 {
  top: 640px;
  left: 16px;
  width: 167px;
  height: 220px;
  position: absolute;
}
.register {
  top: -494px;
  left: 16px;
  width: 148px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.text4 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: Regular;
  text-align: left;
  font-family: Comfortaa;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.tab-bar {
  top: 729px;
  left: 0px;
  width: 375px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.background {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 83px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.background1 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 83px;
  position: absolute;
}
.home {
  top: 9px;
  left: 11px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.union {
  top: 13px;
  left: 12px;
  width: 16px;
  height: 14px;
  position: absolute;
}
.search {
  top: 9px;
  left: 82px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.union1 {
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.upload {
  top: 9px;
  left: 153px;
  width: 70px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.rectangle {
  top: 0px;
  left: 0px;
  width: 70px;
  height: 40px;
  position: absolute;
  border-radius: 20px;
}
.union2 {
  top: 13.5px;
  left: 28.5px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.chats {
  top: 9px;
  left: 254px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.union3 {
  top: 12px;
  left: 10px;
  width: 18px;
  height: 16px;
  position: absolute;
}
.profile {
  top: 9px;
  left: 324px;
  width: 40px;
  height: 40px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.person {
  top: 12px;
  left: 15px;
  width: 10.434782981872559px;
  height: 15.00001049041748px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.ellipse {
  top: 8.478271484375px;
  left: 0px;
  width: 10px;
  height: 7px;
  position: absolute;
}
.ellipse1 {
  top: 4.547473508864641e-13px;
  left: 1.304443359375px;
  width: 8px;
  height: 8px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.shape {
  top: 70px;
  left: 120px;
  width: 135px;
  height: 5px;
  position: absolute;
  border-radius: 10px;
}
.status-bar {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 44px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.ui {
  top: 15px;
  left: 293px;
  width: 68px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.battery {
  top: 2px;
  left: 43px;
  width: 25px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.border {
  top: 0.3333333432674408px;
  left: 6.8209999280755e-13px;
  width: 22px;
  height: 11px;
  opacity: 0.35;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2.6666667461395264px;
}
.cap {
  top: 4px;
  left: 23px;
  width: 1px;
  height: 4px;
  opacity: 0.40;
  position: absolute;
}
.capacity {
  top: 2.3333332538604736px;
  left: 2px;
  width: 18px;
  height: 7px;
  position: absolute;
  border-radius: 1.3333333730697632px;
}
.wifi {
  top: 1px;
  left: 20px;
  width: 21px;
  height: 15px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.wifi1 {
  top: 1.3333333730697632px;
  left: 2.6666667461395264px;
  width: 15px;
  height: 11px;
  position: absolute;
}
.cell {
  top: 2px;
  left: 0px;
  width: 18px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.cell1 {
  top: 0.6666666865348816px;
  left: 0.6666666865348816px;
  width: 17px;
  height: 11px;
  position: absolute;
}
.time {
  top: 8px;
  left: 21px;
  width: 56px;
  height: 23px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.text6 {
  top: 6px;
  left: 0.3333333432674408px;
  color: rgba(0, 0, 0, 1);
  width: 54px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Semibold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.seats-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .seat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid black;
    cursor: pointer;
  }
  
  .seat.booked {
    background-color: grey;
    cursor: default;
  }
  
  .seat-number {
    margin-top: 5px;
    font-size: 14px;
  }
  .seats-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  