.table td {
  padding: 40px;
}
.center{
  margin-top: 5px;
  border-radius: 10px;
  
}
.center:hover{
  background-color:turquoise;
}

.space-after-h3 {
  margin-bottom: 30px;
}




