.table td {
  padding: 40px;
}
.center{
  margin-top: 5px;
  border-radius: 10px;
}
.view-seat-btn {
  background-color:white;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: solid black;
}

.view-seat-btn:hover {
  background-color:turquoise;
}
.space-after-h3 {
  margin-bottom: 30px;
}




