p{
  font-size: 14px;
}
.section{
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-heading{
  color: rgb(204, 18, 18);
  font-size: 26px;
}
.underline{
  height: 4px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.bg-c-light{
  background-color: #f2f2f2;
}
.form-check-label:nth-child(odd) {
  margin-right: 20px;
}
.busimg {
  background-image: url('./components/images/onlinebooking.jpg');
  background-size: cover;
  background-position: center;
}






  
 
